body,html{
    background-color: #f4f4f4;
}

h2{
    text-align: left;
    float: left;
    width: 800px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.blog{
    margin-left: 25%;
    margin-right: 20%;
    border: black;
    border: 1px solid #f4f4f4;
}
.blog_all{
    padding-left: 10px;
    background-color: white;
    border: black;
    margin-top: 2px;
}

.classification label{
    margin-top: 15px;
}
.classification2{
    margin-top: 20px;
}
.get_label{
    margin-top: 20px;
}
.blog_button{
    background-color: white;
    border: none;
}
.blog_button:hover{
    color: red;
}
.user_button{
    float: right;
    margin-top: 30px;
    margin-right: 15px;
}
/*.user_button:hover{*/
/*    color: red;*/
/*}*/
.choose{
    position: fixed;
    display: inline-block;
    float: left;
    margin-top: 200px;
    margin-left: 18%;
}
.choose_label{
    background-color:white;
    text-align: center;
    height: 40px;
    font-size: 17px;
}
.choose_label label{
    margin-top: 12px;
}
.choose_label:hover{
    background-color: rgba(0,0,0,0.1);
}



