<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/LoginAuto.js}"></script>
    <script th:src="@{/js/chat.js}"></script>
    <script th:src="@{/js/CreateTalk.js}"></script>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}"/>

</head>
<body>
<div th:replace="~{common::user_fun}"></div>
<div class="all">
    <div class="talkList">
        <div class="list1">
            <label>聊天列表</label>
        </div>
        <div class="list" th:each="user_list:${user_list}">
            <div>
                <button th:onclick="ToChat([[${user_list.user_id}]])">
                    <img th:src="@{/img/emo_01.gif}">
                    <input th:id="user_id+${user_list.user_id}" th:value="${user_list.user_id}" hidden="hidden">
                    <label th:id="name+${user_list.user_id}" th:text="${user_list.name}"></label>
                </button>
            </div>
        </div>
    </div>
    <div id="talk" class="talk">
    </div>
</div>
</body>
</html>