<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body style= "color:#212529">
<div th:replace="~{common::user_fun}"></div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <div class="classification" onmouseover="show_classification()" onmouseout="hidden_classification()">
              <label>分类</label>
              <div class="classification2" id="classification" style="display: none">
                <a href="/GetBlogByClassification?classification=Python">Python</a>
                <a href="/GetBlogByClassification?classification=C">C</a>
                <a href="/GetBlogByClassification?classification=JAVA">JAVA</a>
              </div>
            </div>
          </li>
          <li>
            <div class="classification" onmouseover="show_label()" onmouseout="hidden_label()">
              <label>标签</label>
              <div class="get_label" id="get_label" style="display: none">
                <a href="/GetBlogByLabel?label=SpringBoot">SpringBoot</a>
                <a href="/GetBlogByLabel?label=SSM">SSM</a>
                <a href="/GetBlogByLabel?label=Mybatis">Mybatis</a>
              </div>
            </div>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="blog" th:each="bloglist:${blog}">
    <form class="blog_all" th:action="@{/GetBlogByID}" method="post">
      <input name="blog_id" th:value="${bloglist.blog.blog_id}" hidden="hidden">
      <input name="operation" value="view" hidden="hidden">
      <button class="blog_button"><h2 th:text="${bloglist.blog.title}"></h2></button>
      <div><span th:text="${bloglist.blog.title}"></span></div>
      <button type="button" th:onclick="goUSer([[${bloglist.blog.user_id}]])" class="user_button"><span th:text="${bloglist.user_name}"></span></button>
      <span th:text="${bloglist.blog.date}"></span>
      <span th:text="${bloglist.blog.collection_number}"></span><span>收藏</span>
      <span th:text="${bloglist.blog.like_number}"></span><span>点赞</span>
      <span th:text="${bloglist.blog.view_number}"></span><span>浏览</span>
    </form>
  </div>

</body>
</html>