<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/Common.css}"/>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/js/LoginAuto.js}"></script>
    <script th:src="@{/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="function" th:replace="~{common::user_fun}"></div>
  <div class="choose">
      <div class="choose_label">
          <a th:href="@{/GetBlogByLabel?label=SpringBoot}"><label>SpringBoot</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByLabel?label=SSM}"><label>SSM</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByLabel?label=IOS}"><label>IOS</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByLabel?label=Android}"><label>Android</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByLabel?label=网络协议}"><label>网络协议</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByClassification?classification=后端}"><label>后端</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByClassification?classification=前端}"><label>前端</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByClassification?classification=.Net}"><label>.Net</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByClassification?classification=小程序开发}"><label>小程序开发</label></a>
      </div>
      <div class="choose_label">
          <a th:href="@{/GetBlogByClassification?classification=机器学习}"><label>机器学习</label></a>
      </div>
  </div>
  <div class="blog" th:each="bloglist:${blog}">
    <form class="blog_all" th:action="@{/GetBlogByID}" method="post">
      <input name="blog_id" th:value="${bloglist.blog.blog_id}" hidden="hidden">
      <input name="operation" value="view" hidden="hidden">
      <button class="blog_button"><h2 th:text="${bloglist.blog.title}"></h2></button>
      <div><span th:text="${bloglist.blog.content}"></span></div>
      <button type="button" th:onclick="goUSer([[${bloglist.blog.user_id}]])" class="user_button"><span th:text="${bloglist.user_name}"></span></button>
      <span th:text="${bloglist.blog.date}"></span>
      <span th:text="${bloglist.blog.collection_number}"></span><span>收藏</span>
      <span th:text="${bloglist.blog.like_number}"></span><span>点赞</span>
      <span th:text="${bloglist.blog.view_number}"></span><span>浏览</span>
    </form>
  </div>
</body>
</html>