<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/LoginAuto.js}"></script>

    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
</head>
<body>
<input hidden="hidden" id="to_user_id" value="2">
<input hidden="hidden" id="user_id" value="1">
<div class="all">
    <div class="talkList">
        <div class="list">
            <label>聊天列表</label>
        </div>
        <div class="list" th:each="user_list:${user_list}">
            <img th:src="@{/img/emo_01.gif}">
            <label th:text="${user_list.name}"></label>
        </div>
    </div>
    <div class="talk">
        <div class="name" name="name">王一</div>
        <div class="ShowMessage" id="message"></div>
        <div class="EnterMessage">
            <form>
                <textarea id="sendMsg" class="EnterMessage form-control" placeholder="请输入内容"></textarea>
                <button onclick="send()" type="button">发送</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/test.js}"></script>
</body>
</html>