<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/test.js}"></script>
    <link rel="stylesheet" th:href="@{/css/Common.css}"/>
</head>
<body onload="show()">
<div th:replace="~{common::user_fun}"></div>

<div class="blog" th:each="bloglist:${blog}">
    <form class="blog_all" th:action="@{/GetBlogByID}" method="post">
        <input name="blog_id" th:value="${bloglist.blog_id}" hidden="hidden">
        <input name="operation" value="view" hidden="hidden">
        <button class="blog_button"><h2 id="content" th:utext="${bloglist.title}"></h2></button>
        <div><span th:text="${bloglist.content}"></span></div>
        <span th:text="${bloglist.date}"></span>
        <span th:text="${bloglist.collection_number}"></span><span>收藏</span>
        <span th:text="${bloglist.like_number}"></span><span>点赞</span>
        <span th:text="${bloglist.view_number}"></span><span>浏览</span>
    </form>
</div>
</body>
</html>